/*  C O L O R S  */
$black100: #030809;
$white100: rgba(255, 255, 255, 1);
$white64: rgba(255,255,255,.64);
$white32: rgba(255,255,255,.32);
$white16: rgba(255,255,255,.16);
$white12: rgba(255,255,255,.12);
$white8: rgba(255,255,255,.08);
$white4: rgba(255,255,255,.04);
$blue100: #04f;
$blueLight100: #06f;
$azure100: #00c8ff;
$red100: #ed3a22;

/*  S I Z E S  */
$spacer: 4px;

/*  E T C  */
$border-radius-rounded: 300px;